# Hands-on Lab: COUNT, DISTINCT, LIMIT

### Objectives
After completing this lab, you will be able to:
- Retrieve the number of rows that match a query criteria
- Remove duplicate values from a result set and return the unique values
- Restrict the number of rows retrieved from a table

### Exploring the Database
Let us first explore the SanFranciscoFilmLocations database using the Datasette tool:
1. If the first statement listed below is not already in the Datasette textbox on the right, then copy the code below by clicking the little copy button on the bottom right of the code block and then paste it into the textbox of the Datasette tool using either Ctrl+V or right-click in the text box and choose Paste.<br>
*Select Query to select the data from DB*<br>
`SELECT * FROM FilmLocations;`
2. Click Submit Query.
3. Now, you can scroll down the table and explore all the columns and rows of the FilmLocations table to get an overall idea of the table.
4. These are the column attribute descriptions from the FilmLocations table:<br>
`FilmLocations(` <br>
`Title:              titles of the films,` <br>
`ReleaseYear:        time of public release of the films,` <br>
`Locations:          locations of San Francisco where the films were shot,` <br>
`FunFacts:           funny facts about the filming locations,` <br>
`ProductionCompany:  companies who produced the films,` <br>
`Distributor:        companies who distributed the films,` <br>
`Director:           people who directed the films,` <br>
`Writer:             people who wrote the films,` <br>
`Actor1:             person 1 who acted in the films,` <br>
`Actor2:             person 2 who acted in the films,` <br>
`Actor3:             person 3 who acted in the films` <br>
`)`

### Using COUNT statement
Let us go through some examples of COUNT-related queries.

1. Suppose we want to count the number of records or rows of the "FilmLocations" table. The query for this would be:<br>
`SELECT COUNT(*) FROM FilmLocations;`

2. We want to count the number of locations of the films. But we also want to restrict the output result set so that we only retrieve the number of locations of the films written by a certain writer. The query for this can be written as:<br>
`SELECT COUNT(Locations) FROM FilmLocations WHERE Writer="James Cameron";`

### Using DISTINCT statement
In this exercise, you will go through some examples of using DISTINCT in queries.

1. Assume that we want to retrieve the titles of all films in the table so that duplicates will be discarded in the output result set.<br>
`SELECT DISTINCT Title FROM FilmLocations;`
2. We want to retrieve the count of release years of the films produced by a specific company so that duplicate release years of those films will be discarded in the count.<br>
`SELECT COUNT(DISTINCT ReleaseYear) FROM FilmLocations WHERE ProductionCompany="Warner Bros. Pictures";`

### Using LIMIT statement
In this exercise, you will first go through some examples of using LIMIT in queries.

1. Retrieve only the first 25 rows from the table so that rows other than those are not in the output result set.<br>
`SELECT * FROM FilmLocations LIMIT 25;`
2. Now, we want to retrieve 15 rows from the table starting from row 11.<br>
`SELECT * FROM FilmLocations LIMIT 15 OFFSET 10;`

## Exercise:
1. Retrieve the number of locations of the films which are directed by `Woody Allen`.<br>
Query: `SELECT COUNT(Locations) FROM FilmLocations WHERE Director="Woody Allen";`
2. Retrieve the number of films shot at Russian Hill.<br>
Query: `SELECT COUNT(Title) FROM FilmLocations WHERE Locations="Russian Hill";`
3. Retrieve the number of rows having a release year older than 1950 from the `"FilmLocations"` table.<br>
Query: `SELECT COUNT(*) FROM FilmLocations WHERE ReleaseYear<1950;`

### DISTINCT Practice:
1. Retrieve the names of all unique films released in the 21st century and onwards, along with their release years.<br>
Query: `SELECT DISTINCT Title, ReleaseYear FROM FilmLocations WHERE ReleaseYear>=2001;`
2. Retrieve the directors' names and their distinct films shot at City Hall.
Query: `SELECT DISTINCT Title, Director FROM FilmLocations WHERE Locations="City Hall";`
3. Retrieve the number of distributors who distributed films with the 1st actor, Clint Eastwood.
Query: `SELECT COUNT(DISTINCT Distributor) FROM FilmLocations WHERE Actor1="Clint Eastwood";`

## LIMIT Practice
1. Retrieve the names of the first 50 films.<br>
Query: `SELECT DISTINCT Title FROM FilmLocations LIMIT 50;`
2. Retrieve the first 10 film names released in 2015.<br>
Query: `SELECT DISTINCT Title FROM FilmLocations WHERE ReleaseYear=2015 LIMIT 10;`
3. Retrieve the next 3 film names that follow after the first 5 films released in 2015.<br>
Query: `SELECT DISTINCT Title FROM FilmLocations WHERE ReleaseYear=2015 LIMIT 3 OFFSET 5;`